<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
        </button>        
        <div class="navbar-brand">
            <a href="#/cards/{{vm.siteid}}">카드목록</a>
        </div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">      
			<li><a href='#/cards/{{vm.siteid}}'>뒤로 </a></li>
			<li ng-show="$root.globals.currentUser"><a href='#/userdetail/{{$root.globals.currentUser.userinfo.user_id}}'>ID : {{$root.globals.currentUser.username}} </a></li>
			<li ng-show="$root.globals.currentUser"><a href='#/login'><span class="glyphicon glyphicon-log-out"></span> 로그아웃</a></li>
			<li>
				<form class="form-inline" style="margin-top:10px;">
				  <div class="form-group">
					<label for="find">UID 또는 이름</label>
					<input type="find" class="form-control" id="find" ng-model="find">
				  </div>	  
				  <button type="submit" class="btn btn-default" ng-click="vm.find()">찾기</button>
				</form>
			</li>
        </ul>
    </div>
  </div>
  <div>
	<table class="table table-sm table-hover menulist">
              <thead>
              <tr>
                <th>id</th>
                <th>이름</th>				
				<th>부서</th>
				<th>전화</th>				
				<th>uid</th>
				<th>타입</th>
				<th></th>
              </tr>
              </thead>
			  <tfoot ng-show="$root.globals.currentUser">				
                  <tr>
                      <td class="form-inline"><input type="text" size="10" class="form-control" name="id" ng-model="card.id" placeholder="Enter card id" required style="flow:left;">
					  <button ng-show="card.id.length>7" ng-click="vm.search(card.id)" class="btn btn-info btn-sm">찾기</button>
					  </td>
					  <td><input type="text" size="10" class="form-control" name="name" ng-model="card.name" placeholder="Enter name" required></td>
					  <td><input type="text" size="10" class="form-control" name="gid" ng-model="card.dept" placeholder="Enter dept" required></td>
					  <td><input type="text" size="10" class="form-control" name="uid" ng-model="card.phone" placeholder="Enter phone" required></td>
					  <td><input type="text" size="10" class="form-control" name="uid" ng-model="card.uid" placeholder="Enter uid" required></td>
					  <td><input type="text" size="10" class="form-control" name="active" ng-model="card.active" placeholder="Enter type" required></td>
                      <td>
                          <button ng-show="vm.mode==0 && listtype==0" class="btn btn-default btn-sm" ng-click="vm.add()">새카드</button>
						  <button ng-show="vm.mode==1" class="btn btn-default btn-sm" ng-click="vm.edit()">수정</button>
                      </td>
                  </tr>				  
              </tfoot>
			 </table>
  </div>
</nav>

<section class="container">
    <div class="row">
		<div class="col-xs-12 col-md-12 col-sm-12" ng-show="$root.globals.currentUser">
            
			 <table class="table table-sm table-hover menulist cardlist">
			  <thead>
              <tr>
                <th>no</th>
                <th>id</th>
				<th>이름</th>				
				<th>부서</th>
				<th>전화</th>
				<th>잔액</th>
				<th>uid</th>
				<th>타입</th>
				<th></th>
              </tr>
              </thead>
              <tbody>
                <tr ng-repeat="card in vm.cards">
					<td width='5%'>{{$index+1}}</td>
                    <td width='10%'><a href="./#/viewcard/{{vm.siteid}}/{{card.id}}">{{card.id}}</a></td>
                    <td width='10%'>{{card.name}}</td>
					<td width='30%'><span ng-show="listtype==1">{{card.company}} </span>{{card.dept}}</td>
					<td width='20%'>{{card.phone}}</td>
					<td width='10%'>{{card.balance}}</td>
					<td width='20%'>{{card.uid}}</td>
					<td width='5%'>{{card.active}}</td>
					<td width='10%'>
						<button class="btn btn-default btn-sm" ng-click="vm.del(card.id)">삭제</button>
					</td>
                </tr>
              </tbody>                  
            </table>

		</div>    
    </div>
    
</section>