<nav class="navbar navbar-white navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href='#'>Menuroid</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
			
            <li ng-show="$root.globals.currentUser"><a href='#/userdetail/{{$root.globals.currentUser.userinfo.user_id}}'>ID : {{$root.globals.currentUser.username}} </a></li>
            <li ng-show="$root.globals.currentUser"><a href='#/login'><span class="glyphicon glyphicon-log-out"></span> 로그아웃</a></li>
            <li ng-hide="$root.globals.currentUser"><a href='#/register'><span class="glyphicon glyphicon-user"></span> 등록</a></li>
            <li ng-hide="$root.globals.currentUser"><a href='#/login'><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
          </ul>
        </div>
      </div>
    </nav>
<section class="container">
	<div class="panel panel-default">  
		<div class="panel-body">
			<form name="myForm" class="form-horizontal">
				<div class="form-group" ng-class="{error: myForm.name.$invalid}">
					<label class="control-label col-sm-2" for="name">이름</label>
					<div class="col-sm-10">
						<input type="name" class="form-control" id="name" placeholder="Enter site name" ng-model="vm.project.name" required>
						<span ng-show="myForm.name.$error.required" class="help-inline">필수</span>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="busno">사업자번호</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="busno" placeholder="Enter bus no" ng-model="vm.project.busno">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="regname">상호</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="regname" ng-model="vm.project.regname">
					</div>
				</div>
			  
				<div class="form-group">
					<label class="control-label col-sm-2" for="ownername">대표자</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="ownername" ng-model="vm.project.ownername">
					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2" for="tel">전화</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="tel" ng-model="vm.project.tel">
					</div>
				</div>
				
				<div class="form-group">
					<label class="control-label col-sm-2" for="addr">주소</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="addr" ng-model="vm.project.addr">
					</div>
				</div>
			  
				<div class="form-group" ng-show="$root.globals.currentUser.userinfo.is_admin==true">
					<label class="control-label col-sm-2" for="indexurl">indexurl</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="indexurl" ng-model="vm.project.indexurl">
					</div>
				</div>

				<div class="form-group" ng-show="$root.globals.currentUser.userinfo.is_admin==true">
					<label class="control-label col-sm-2" for="menuimg">menuimg</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="menuimg" ng-model="vm.project.menuimg">
					</div>
				</div>

				<div class="form-group" ng-show="$root.globals.currentUser.userinfo.is_admin==true">
					<label class="control-label col-sm-2" for="owner">owner</label>
					<div class="col-sm-10">
						<input type="text" class="form-control" id="owner" ng-model="vm.project.owner">
					</div>
				</div>

				<div class="form-group" ng-show="$root.globals.currentUser.userinfo.is_admin==true">
					<label class="control-label col-sm-2" for="active">active</label>
					<div class="col-sm-10">
						<select class="form-control" ng-init="vm.project.active = vm.project.active" ng-options="opt for opt in prjopts" ng-model="vm.project.active"></select>
					</div>
				</div>
			  
				<div class="form-group"> 
					<div class="col-sm-offset-2 col-sm-10">
					  <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid" class="btn btn-primary"><i class="icon-ok icon-white"></i> 저장</button>
					<a href="#/" class="btn btn-link">취소</a>
					<button ng-click="destroy()" ng-show="project.id" class="btn btn-danger pull-right"><i class="icon-trash icon-white"></i> 삭제</button>
					</div>
				</div>
			  
			</form>
			
		</div>
	</div>
</section>