<nav class="navbar navbar-white navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">        
              <li><a href='' ng-click="vm.print()"><span class="glyphicon glyphicon-print"></span>인쇄</a></li>
              <li><a href='#/account/{{vm.siteid}}/{{accdate}}'><span class="glyphicon glyphicon-usd"></span> 결제별</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href='#/payments/{{vm.siteid}}' back-button class="link-back"><span class="glyphicon glyphicon-arrow-left"></span> 뒤로</a></li>
          </ul>
        </div>
      </div>
</nav>

<section class="container">
    <div class="row">
        <h3>
            <button ng-click="prevDate()" class="btn btn-default btn-mini"><span class="glyphicon glyphicon-arrow-left"></span></button>
            {{accdate}}
            <button ng-click="nextDate()" class="btn btn-default btn-mini"><span class="glyphicon glyphicon-arrow-right"></span></button>
        </h3>        
    </div>
    
	<div class="row">
		<iframe id="txtArea1" style="display:none"></iframe>
		<button id="btnExport" ng-click="vm.export();"> 내보내기 </button>
		<table class="table table-hover menulist" id="table1">
		  <thead>
		  <tr>
			  <th>이름</th>
			  <th>부서</th>
			  <th>UID</th>
			  <th colspan=2 class="text-center">조식</th>
			  <th colspan=2 class="text-center">중식</th>
			  <th colspan=2 class="text-center">석식</th>
			  <th colspan=2 class="text-center">기타</th>
			  <th colspan=2 class="text-center">합계</th>
		  </tr>
		  <tr>
			  <th colspan=3></th>
			  <th class="text-right">수량</th>
			  <th class="text-right">금액</th>
			  <th class="text-right">수량</th>
			  <th class="text-right">금액</th>
			  <th class="text-right">수량</th>
			  <th class="text-right">금액</th>
			  <th class="text-right">수량</th>
			  <th class="text-right">금액</th>
			  <th class="text-right">수량</th>
			  <th class="text-right">금액</th>
		  </tr>
		  </thead>
		  <tbody>
			  <tr ng-repeat="totitem in vm.ptotals">
				  <td>{{totitem.pname}}</td>
				  <td>{{totitem.dept}}</td>
				  <td>{{totitem.uid}}</td>
				  <td class="text-right">{{totitem.cnt1 | number}}</td>
				  <td class="text-right">{{totitem.sum1 | number}}</td>
				  <td class="text-right">{{totitem.cnt2 | number}}</td>
				  <td class="text-right">{{totitem.sum2 | number}}</td>              
				  <td class="text-right">{{totitem.cnt3 | number}}</td>
				  <td class="text-right">{{totitem.sum3 | number}}</td>  
				  <td class="text-right">{{totitem.cnt4 | number}}</td>
				  <td class="text-right">{{totitem.sum4 | number}}</td>  
				  <td class="text-right">{{(totitem.cnt1+totitem.cnt2+totitem.cnt3+totitem.cnt4) | number}}</td>
				  <td class="text-right">{{(totitem.sum1+totitem.sum2+totitem.sum3+totitem.sum4) | number}}</td>  
			  </tr>	
		  </tbody>    
		</table>
		
		<br>
    </div>

</section>