<nav class="navbar navbar-white navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
          <a class="navbar-brand" href='#'>Menuroid</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li ng-show="$root.globals.currentUser"><a href='#/userdetail/{{$root.globals.currentUser.userinfo.user_id}}'>ID : {{$root.globals.currentUser.username}} </a></li>
            <li ng-show="$root.globals.currentUser"><a href='#/login'><span class="glyphicon glyphicon-log-out"></span> 로그아웃</a></li>
            <li ng-hide="$root.globals.currentUser"><a href='#/login'><span class="glyphicon glyphicon-log-in"></span> 로그인</a></li>
          </ul>
        </div>
      </div>
    </nav>
	<section class="container">
        
<section class="login-form">	
	
	<div class="panel panel-default">
		<div class="panel-body">
            
            <div ng-class="{ 'alert': flash, 'alert-success': flash.type === 'success', 'alert-danger': flash.type === 'error' }" ng-if="flash" ng-bind="flash.message"></div>

			<h2>등록</h2>
			<form name="form" ng-submit="vm.register()" role="form">
				<div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
					<label for="username">사용자명</label>
					<input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
					<span ng-show="form.username.$error.required" class="help-block">필수항목</span>
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
					<label for="password">비밀번호</label>
					<input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
					<span ng-show="form.password.$error.required" class="help-block">필수항목</span>
				</div>
				<div class="form-group" ng-class="{ 'has-error': form.confirm_password.$error.required || form.confirm_password.$error.passwordVerify }">
					<label for="confirm_password">비밀번호확인</label>
					<input type="password" name="confirm_password" id="confirm_password" class="form-control" ng-model="vm.password_verify" required data-password-verify="vm.user.password" />
					<span ng-show="form.password.$dirty && form.confirm_password.$error.required" class="help-block">필수항목</span>
					<span ng-show="form.confirm_password.$dirty && form.confirm_password.$error.passwordVerify" class="help-block">비밀번호가 틀립니다!</span>
				</div>
                <div class="form-group" ng-class="{ 'has-error': form.email.$dirty && form.email.$error.required }">
					<label for="email">이메일</label>
					<input type="email" name="email" id="email" class="form-control" ng-model="vm.user.email" required/>
					<span ng-show="form.email.$error.required" class="help-block">필수항목</span>
				</div>
				<div class="form-group">
					<label for="phone">전화번호</label>
					<input type="text" name="phone" id="phone" class="form-control" ng-model="vm.user.phone" />			
				</div>
				
				
				<div class="form-actions">
					<button type="submit" ng-disabled="form.$invalid || vm.dataLoading" class="btn btn-primary">등록</button>
					<img ng-if="vm.dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
					<a href="#/login" class="btn btn-link">취소</a>
				</div>
			</form>
		</div>
	</div>
	
        </section>
</section>